<form class="form-horizontal">
  <div class="form-group">
    <label for="newProductName" class="col-md-3 control-label">Name</label>
    <div class='col-md-9'>
      {{input type='text' value=newProductName id="newProductName" class='form-control' placeholder='Name'}}
    </div>
  </div>
  <div class="form-group">
    <label for="newProductFat" class="col-md-3 control-label">Fat</label>
    <div class='col-md-9'>
      {{input type='number' value=newProductFat id="newProductFat" class='form-control' placeholder='Fat'}}
    </div>
  </div>
  <div class="form-group">
    <label for="newProductCarbs" class="col-md-3 control-label">Carbs</label>
    <div class='col-md-9'>
      {{input type='number' value=newProductCarbs id="newProductCarbs" class='form-control' placeholder='Carbs'}}
    </div>
  </div>
  <div class="form-group">
    <label for="newProductProtein" class="col-md-3 control-label">Proteins</label>
    <div class='col-md-9'>
      {{input type='number' value=newProductProtein id="newProductProtein" class='form-control' placeholder='Proteins'}}
    </div>
  </div>
  {{render 'product-units'}}
  <div class="form-group">
    <div class="pull-right">
      <button type="submit" class="btn btn-success" {{action 'createProduct'}}>Add product</button>
    </div>
  </div>
</form>